.Post {
  height: 400px;
  @media (min-width: 768px) {
    height: 340px;
  }
  border: 1px solid #f1f1f1;
  margin: 15px 0;
  border-radius: 3px;
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f9f9f9;

    .Post-user {
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      background-color: #f54555;
      border: 2px solid #ffffff;
      border-radius: 3px;
      margin: 2px;
      box-shadow: 0 0 0 2px #dd4555;
    }

    .Post-date {
      color: #888888;
      font-size: 12px;
    }
  }

  .Post-image {
    display: flex;
    align-items: center;
    height: 250px;
    @media (min-width: 768px) {
      height: 150px;
    }
    overflow: hidden;

    img {
      width: 100%;
      transition: all .2s ease-in-out;
    }
  }

  .Post-actions {
    padding: 0 15px;
    text-align: right;
    font-size: 13px;

    div {
      padding: 5px 0 5px 5px;
    }
  }

  .Post-content {
    padding: 0 15px;

    .Post-title {
      color: #444444;
      font-size: 14px;
      line-height: 1.5em;
    }

  }

  &:hover {
    border-color: #dddddd;
    .Post-image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
